.idea
autom4te.cache
err.log
out.log

/EDLUT_source_code/config.log
/EDLUT_source_code/config.status
/EDLUT_source_code/edlutkernel.pc
/EDLUT_source_code/makefile

/EDLUT_source_code/bin/RealTimeEDLUTKernel
/EDLUT_source_code/bin/edlutkernel
/EDLUT_source_code/bin/precisiontest
/EDLUT_source_code/bin/stepbystep

ROS_OpenSim/devel/
ROS_OpenSim/build/
__pycache__
